h1, h2{
  font-family:Georgia, serif;
}
p{
  font-family:Calibri, sans-serif;
}
/*main Div style*/

.weather-forecast{
  margin: 0 auto;
  min-width: 500px;
  max-width: 800px;
  height:600px;

}
.weather-forecast .container{
    background-color: #538BFF;
    padding: 10px;
}

/*Today's Forecast'*/

.weather-forecast .today{
  text-align: center;
  background-color: #60E7FF;
  padding: 5px;
}



/*Table Style*/
.weather-forecast .table{
    background-color: #4CA7E8;
    width: 800px;
    height:400px;
    overflow-x: auto;
}

.weather-forecast .table td, th{
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}




